<div class="banner banner-three">
</div>
<div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Registrarse</h1>
            </div>
           
            <div class="login-form">
               
              <form action="" target="" method="post">
                <div class="control-group">
                <input type="text" class="login-field" value="" required placeholder="Nombre" name="nombre" id="nombre"  autofocus >
                <label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="Usuario" required name="username">
                <label class="login-field-icon fui-user" for="login-name"></label>
                </div>
                
                <div class="control-group">
                <input  type="email" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" required name="correo" placeholder="Correo">
                <label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="Contraseña" required name="password">
                <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>
               
                
              <button class="btn2 btn-primary btn2-large btn2-block" onclick="obtenerdato()">
               Registrar
              </button>
             
              <script src="/src/public/js/valor.js">
                  /*
                   $(document).ready(function(){
                     $('#obtenerdato').click(()=>{
                        alertify.minimalDialog || alertify.dialog('minimalDialog',function(){
                      return {
                      main:function(content){
                      this.setContent(content); 
                       }
                     };
                   }); 
                        alertify.minimalDialog("Minimal button-less dialog.");
                }
                     });
                   });
                
                
                function obtenerdato(){
                  $.ajax(
                    type:'GET',
                    dataType:'json',
                    success:(result)=>{
                        //si el usario se registra me envia  el dato de registro significa  que el registro fue exitoso y sale msj
                       alertify.success('Se registro correctamente' ,result);
                      
                    }
                  })
                }
                /*
              </script>
         
            </div>
        </div>
    </div>
    
