<div class="banner banner-second">
      
    </div>

 <!-- reloj 1 -->
    <div class="container">
        <div class="columns">
            <div class="column is-two-fifths-desktop">
                <div class="slider" id="slider">
                    <div class="slider-img-container">
                        <img src="/static/img/dorado1302.jpg" alt="" id="1" class="active slider-item">
                    </div>
                    <div class="slider-img-container">
                        <img src="/static/img/plateado1302.jpg" alt="" id="1"class="slider-item">
                    </div>
                    <div class="slider-img-container">
                        <img src="/static/img/negro1302.jpg" alt="" id="1"class="slider-item">
                    </div>
                    <div class="slider-button-left slider-buttons" onclick="previus()">
                        <i class="zmdi zmdi-chevron-left zmdi-hc-3x"></i>
                    </div>
                    <div class="slider-button-right slider-buttons" onclick="next()">
                        <i class="zmdi zmdi-chevron-right zmdi-hc-3x"></i>
                    </div>
                </div>
            </div>
            <div class="column">
                <h3 class="is-size-4">Reloj Sport Hombre</h3>
                
                <h2 class="price is-size-4"><sup>$</sup>129.900</h2>
                <p class="has-text-grey"> <strong>Disponibilidad:</strong> En stock</p>
                <p class="has-text-grey"><strong>C칩digo del producto: </strong>#1302</p>
                <p class="text-default">skmei 1302 relojes de oro de acero inoxidable 
                    sport reloj hombre relojes hombres mu침eca</p>
                <form action="#" class="form-control">
                    <div class="columns is-multiline">
                        <div class="column is-one-third">
                            <label for="color">Color</label>
                            <select class="form-control-field" id="color">
                                <option value="#">Color 1</option>
                                <option value="#">Color 2</option>
                                <option value="#">Color 3</option>
                            </select>

                        </div>
                        <div class="column is-one-third">
                            <label for="quality">Cantidad</label>
                            <input class="form-control-field" type="number">
                        </div>
                        <div class="column is-full is-marginless">
                            <button class="btn btn-default btn-outline"><i class="zmdi zmdi-shopping-cart"></i>
                                Agregar al carrito</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
    
<!-- reloj 2 -->
<br>
 <div class="container">
        <div class="columns">
            <div class="column is-two-fifths-desktop">
                <div class="slider" id="slider">
                   <img id="im" src="/static/img/dorado1515.jpg"> 
                   
                </div>
            </div>
            <div class="column">
                <h3 class="is-size-4">Reloj Digital Hombre</h3>
                
                <h2 class="price is-size-4"><sup>$</sup>180.900</h2>
                <p class="has-text-grey"> <strong>Disponibilidad:</strong> En stock</p>
                <p class="has-text-grey"><strong>C칩digo del producto: </strong>#1515</p>
                <p class="text-default">2020 SKMEI 1515 Reloj digital 
                    anal칩gico de cuarzo de acero inoxidable de marca de lujo</p>
                <form action="#" class="form-control">
                    <div class="columns is-multiline">
                        <div class="column is-one-third">
                            <label for="color">Color</label>
                             <form name="ddmessage">
                            <select class="form-control-field" onChange="cambia(this.options[this.selectedIndex].value)">
                                <option value="/static/img/dorado1515.jpg">Color 1</option>
                                <option value="/static/img/plateado1515.jpg">Color 2</option>
                                <option value="/static/img/negro1515.jpg">Color 3</option>
                            </select>
                            
                            </form>

                           <img name="imagen" src=""/>
                        </div>
                        <div class="column is-one-third">
                            <label for="quality">Cantidad</label>
                            <input class="form-control-field" type="number">
                        </div>
                        <div class="column is-full is-marginless">
                            <button class="btn btn-default btn-outline"><i class="zmdi zmdi-shopping-cart"></i>
                                Agregar al carrito</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>

    

         

